@import "../../responsive.scss";

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  @include md {
    padding: 0 16px;
  }
  @include sm {
    padding: 0 8px;
  }

  a {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 22px; // slightly increased
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 28px;
        // margin-left: 0; // Reverted
        // padding-left: 0; // Reverted
      }

      span {
        font-size: 1.25em; // slightly increased
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
    // Increase font size for main nav links
    a {
      font-size: 1.12em;
    }
  }
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      padding: 8px 16px;
      margin: 0 8px;
      display: flex;
      align-items: center;
    }

    .user{
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 10px;

      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span{
        display: flex;
        align-items: center;
        @include sm{
          display: none;
        }
      }

      .profile{
        padding: 8px 16px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        
        .notification{
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

      }
    }

    .register {
      background-color: #fece51;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: #fff;
      color: #111;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
